<mat-sidenav-container class="example-container h-100">
  <mat-sidenav #sidenav mode="side" [opened]="showSidebar" class="example-sidenav5" style="width: 200px" [fixedInViewport]="true">
    <mat-list class="cursor-pointer">
      <mat-list-item class="mt-3 mb-3 ps-3">
        <h2>Sales Manager</h2>
      </mat-list-item>
      <mat-list-item class="ps-3" [routerLink]="page.link" routerLinkActive="bg-primary text-white" *ngFor="let page of pages">{{ page.title }}</mat-list-item>
      <mat-list-item class="ps-3" routerLinkActive="bg-primary text-white" (click)="logout()">Logout</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content h-100 container-fluid d-flex flex-column">
      <nav class="navbar border-bottom" *ngIf="!showSidebar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 mr-auto ml-auto h1 cursor-pointer">SalesManager</span>
          <!--      <span class="float-right cursor-pointer" (click)="logout()" *ngIf="showLogout">Logout</span>-->
        </div>
      </nav>

      <div>
        <router-outlet></router-outlet>
      </div>

<!--      <nav class="navbar border-top footer">-->
<!--        <div class="container-fluid justify-content-center">-->
<!--          <p>Developed & designed by SabaliSoft @2021</p>-->
<!--        </div>-->
<!--      </nav>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



