<mat-sidenav-container class="example-container h-100">
  <mat-sidenav #sidenav mode="side" [opened]="showSidebar" class="example-sidenav" [fixedInViewport]="true">
    <mat-list class="cursor-pointer">
      <mat-list-item>
        <h2>Sales Manager</h2>
      </mat-list-item>
      <mat-list-item routerLink="/employees" routerLinkActive="bg-primary text-white">Employyes</mat-list-item>
      <mat-list-item routerLink="/products" routerLinkActive="bg-primary text-white">Products</mat-list-item>
      <mat-list-item routerLinkActive="bg-primary text-white">Orders</mat-list-item>
      <mat-list-item routerLinkActive="bg-primary text-white">Logout</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-sidenav-content h-100 container-fluid d-flex flex-column">
      <nav class="navbar border-bottom" *ngIf="!showSidebar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 mr-auto ml-auto h1 cursor-pointer">SalesManager</span>
          <!--      <span class="float-right cursor-pointer" (click)="logout()" *ngIf="showLogout">Logout</span>-->
        </div>
      </nav>

      <div class="h-100">
        <router-outlet></router-outlet>
      </div>

      <nav class="navbar border-top margin-top-auto">
        <div class="container-fluid justify-content-center">
          <p>Developed & designed by SabaliSoft @2021</p>
        </div>
      </nav>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



